.MuiPaper-root {
  padding: 0 !important;
}
.MuiAlert-icon {
  padding: 2px 0 !important;
  font-size: 20px !important;
}
.MuiAlert-message {
  font-size: 11px !important;
  padding: 4px 0 !important;
}
